In [1]:
from sqlalchemy import create_engine, Column, Integer, Float, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship
import pandas as pd
import numpy as np

Base = declarative_base()

In [2]:
stations_clean = pd.read_csv("clean_hawaii_stations.csv")
measurements_clean = pd.read_csv("clean_hawaii_measurements.csv")

In [3]:

class Station(Base):
	__tablename__ = "station"

	id = Column( 'id', Integer, primary_key = True )
	station = Column( 'station', String )
	name = Column( 'name', String )
	latitude = Column( 'latitude', Float )
	longitude = Column( 'longitude', Float )
	elevation = Column( 'elevation', Float )

class Measurement(Base):
	__tablename__ = "measurement"

	id = Column( 'id', Integer, primary_key = True )
	station = Column( 'station', String )
	date = Column( 'date', String )
	prcp = Column( 'prcp', Float )
	tobs = Column( 'tobs', Integer )

In [4]:
engine = create_engine('sqlite:///temp.sqlite', echo = True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)

session = Session()

2018-01-25 13:37:42,425 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-01-25 13:37:42,427 INFO sqlalchemy.engine.base.Engine ()
2018-01-25 13:37:42,429 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-01-25 13:37:42,431 INFO sqlalchemy.engine.base.Engine ()
2018-01-25 13:37:42,435 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("station")
2018-01-25 13:37:42,437 INFO sqlalchemy.engine.base.Engine ()
2018-01-25 13:37:42,442 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("measurement")
2018-01-25 13:37:42,444 INFO sqlalchemy.engine.base.Engine ()
2018-01-25 13:37:42,450 INFO sqlalchemy.engine.base.Engine
CREATE TABLE station (
	id INTEGER NOT NULL,
	station VARCHAR,
	name VARCHAR,
	latitude FLOAT,
	longitude FLOAT,
	elevation FLOAT,
	PRIMARY KEY (id)
)


2018-01-25 13:37:42,452 INFO sqlalchemy.engine.base.Engine ()
2018-01-25 13:37:42,459 INFO sqlalchemy.engine.base.Engine COMMIT
2018-01-25 13:37:42,462 INFO sqlalchemy.engine.base.Engine
CREATE TABLE measurement (
	id INTEGER NOT NULL,
	station VARCHAR,
	date VARCHAR,
	prcp FLOAT,
	tobs INTEGER,
	PRIMARY KEY (id)
)


2018-01-25 13:37:42,465 INFO sqlalchemy.engine.base.Engine ()
2018-01-25 13:37:42,470 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
my_stations_list = []
for j in range( len( stations_clean['index'] ) ):
    station_temp = Station()
    station_temp.id = int(stations_clean['index'][j])
    station_temp.station = stations_clean['station'][j]
    station_temp.name = stations_clean['name'][j]
    station_temp.latitude = float(stations_clean['latitude'][j])
    station_temp.longitude = float(stations_clean['longitude'][j])
    station_temp.elevation = float(stations_clean['elevation'][j])
    my_stations_list.append(station_temp)

my_measurement_list = []
for j in range( len(  measurements_clean['index'] )  ):
	measurement_temp = Measurement()
	measurement_temp.id = int(measurements_clean['index'][j])
	measurement_temp.station = measurements_clean['station'][j]
	measurement_temp.date = measurements_clean['date'][j]
	measurement_temp.prcp = float(measurements_clean['prcp'][j])
	measurement_temp.tobs = int(measurements_clean['tobs'][j])
	my_measurement_list.append(measurement_temp)

In [6]:
session.add_all(my_stations_list)
session.add_all(my_measurement_list)

session.commit()

2018-01-25 13:37:46,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-25 13:37:46,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurement (id, station, date, prcp, tobs) VALUES (?, ?, ?, ?, ?)
2018-01-25 13:37:46,781 INFO sqlalchemy.engine.base.Engine ((0, 'USC00519397', '2010-01-01', 0.08, 65), (1, 'USC00519397', '2010-01-02', 0.0, 63), (2, 'USC00519397', '2010-01-03', 0.0, 74), (3, 'USC00519397', '2010-01-04', 0.0, 76), (5, 'USC00519397', '2010-01-07', 0.06, 70), (6, 'USC00519397', '2010-01-08', 0.0, 64), (7, 'USC00519397', '2010-01-09', 0.0, 68), (8, 'USC00519397', '2010-01-10', 0.0, 73)  ... displaying 10 of 18103 total bound parameter sets ...  (19548, 'USC00516128', '2017-08-22', 0.5, 76), (19549, 'USC00516128', '2017-08-23', 0.45, 76))
2018-01-25 13:37:46,892 INFO sqlalchemy.engine.base.Engine INSERT INTO station (id, station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?, ?)
2018-01-25 13:37:46,893 INFO sqlalchemy.engine.base.Engine ((0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9), (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))
2018-01-25 13:37:47,134 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:

stations = session.query(Station).all()
for station in stations:
    print(station.station)

2018-01-25 13:37:53,180 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-01-25 13:37:53,183 INFO sqlalchemy.engine.base.Engine SELECT station.id AS station_id, station.station AS station_station, station.name AS station_name, station.latitude AS station_latitude, station.longitude AS station_longitude, station.elevation AS station_elevation
FROM station
2018-01-25 13:37:53,185 INFO sqlalchemy.engine.base.Engine ()
USC00519397
USC00513117
USC00514830
USC00517948
USC00518838
USC00519523
USC00519281
USC00511918
USC00516128

In [8]:
session.close()

2018-01-25 13:37:57,378 INFO sqlalchemy.engine.base.Engine ROLLBACK